html{
    background: url('../images/Background_Wallpaper_Tropical_Island_Beach_Hammock_1-1024x768.jpg') no-repeat center center fixed;
    min-height:100%;
    background-size:cover;
}

body{
    /* Workaround for some mobile browsers */
    min-height:100%;
    background-color: rgba(0, 0, 0, 0.3);
}

p{
    padding: 50px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    background: #f2f2f2;
}