{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GoWhere</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href= "{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href= "{% static "css/searched.css" %}">
        <link rel="stylesheet" href= "{% static "css/app.css" %}">
        <script src= "{% static "js/jquery-1.11.3.min.js" %}"></script>
        <script src= "{% static "js/app.js" %}"></script>
        <script src= "{% static "js/bootstrap.min.js" %}"></script>
        <!-- EXCHANGE RATE SCRIPT -->
        <script type="text/javascript">
        function getRate(from, to) {
        var script = document.createElement('script');
        script.setAttribute('src', "http://query.yahooapis.com/v1/public/yql?q=select%20rate%2Cname%20from%20csv%20where%20url%3D'http%3A%2F%2Fdownload.finance.yahoo.com%2Fd%2Fquotes%3Fs%3D"+from+to+"%253DX%26f%3Dl1n'%20and%20columns%3D'rate%2Cname'&format=json&callback=parseExchangeRate");
        document.body.appendChild(script);
        }

        function parseExchangeRate(data) {
        var name = data.query.results.row.name;
        var rate = parseFloat(data.query.results.row.rate, 10);
        document.getElementById("rate").innerHTML = rate;
        document.getElementById("rate2").innerHTML = rate;
        }
        function moolah() {
            var moolah = document.getElementById("cash").value;
            getRate("SGD",moolah);
            setInterval(function(){
                getRate("SGD", moolah);
                },3000);
        }
        </script>
        <!-- END OF EXCHANGE RATE SCRIPT -->
    <input type="hidden" id="cash" name="cash" value="{{ currency }}">
</head>


<body class = {{ destination }} onload="moolah()">
    <div class="row">
        <div class="hidden-xs col-lg-6 rate">
            <h2 class = "rate">
            <a href="/"><img src= "{% static "images/logov2.png" %}" align="left"></a>
                1 SGD = <span id="rate">0</span> {{ currency }}</h2>
        </div>
        <div class="visible-xs-inline col-lg-12 ratexs">
            <a href="/"><img src= "{% static "images/logov2.png" %}" align="left"></a>
            <h2 class = "xs"><nobr> 1 SGD </nobr>= <span id="rate2">0</span> {{ currency }}</h2></h2>
        </div>


    </div>
    {% if data %}
        <div class="row">
        {% for messages in data %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 extra">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>"No results received"</p>
        {% endif %}
</body>
</html>
